<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--MYSQL-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/localhost</property>
        <property name="hibernate.connection.username">finn</property>
        <property name="hibernate.connection.password">finn</property>
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->

        <!-- Mapping files -->
        <mapping resource="Item.hbm.xml"/>
        <mapping resource="Team.hbm.xml"/>
        <mapping resource="Avatar.hbm.xml"/>
        <mapping resource="BattleEngine.hbm.xml"/>
        <mapping resource="Guardian.hbm.xml"/>
        <mapping resource="Event.hbm.xml"/>
        <mapping resource="Station.hbm.xml"/>
    </session-factory>
</hibernate-configuration>